/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #032139;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    align-items: flex-start;
}


.logo-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the logo stays on top of other elements */
    padding: 10px; /* Add some space around the logo */
    width: auto;
    background-color: white; /* Adjust the background as needed */
  }
  
  .logo {
    height: 100px; /* Adjust the size as needed */
    width: auto;
  }
  

/* Main Content */
div {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.search-container {
    width: 60%;
    margin: auto;
    margin-top: 100px; /* Adjust this value to move the block further down */
    overflow: hidden;
}
h1 {
    text-align: center;
    color: white;
}

/* Form Styling */
form {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

input[type="text"],
input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background: #6496c1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #555;
}
